/*
	Core
*/
html, body {
  height: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-size: 100%;
}

body {
  background: white;
  color: #222222;
  cursor: auto;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  position: relative;
}

a:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

img {
  -ms-interpolation-mode: bicubic;
}

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object,
.mqa-display img,
.mqa-display embed,
.mqa-display object {
  max-width: none !important;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.hide {
  display: none;
}

.invisible {
  visibility: hidden;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: inline-block;
  vertical-align: middle;
}

textarea {
  height: auto;
  min-height: 50px;
}

select {
  width: 100%;
}

html, body {
  font-size: 14px;
}

body {
  background: white url(../images/bg.gif) repeat center top;
}

p {
  font-size: inherit;
}

a {
  transition: all 300ms ease-out;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.mejs-container {
  margin-bottom: 1.42857rem;
}

table {
  background: transparent none repeat scroll 0 0;
  width: 100%;
}
table tr {
  border-bottom: 1px solid rgba(55, 58, 65, 0.1);
}

table tr.even, table tr.alt, table tr:nth-of-type(2n) {
  background: none;
}

/*
    Class WordPress Require
*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1em;
  margin-bottom: .5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1em;
  margin-bottom: .5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Captions */
.wp-caption {
  padding: .5em .5em .25em;
  margin-bottom: 1em;
  max-width: 100%;
  box-sizing: border-box;
}

#content .wp-caption-text {
  text-align: center;
  font-size: 1em;
  margin: 0;
}

/*
	Layouts
*/
.sidebar-inner .widget {
  margin-bottom: 2.71429rem;
  padding: 2.14286rem;
}

.widget_search label {
  display: none;
}

.widget_recent_comments li .comment-author-link {
  font-weight: bold;
}

.widget_tag_cloud ul {
  list-style: none;
  margin-left: 0;
}
.widget_tag_cloud li {
  display: inline;
}
.widget_tag_cloud li a {
  display: inline-block;
  margin: 0.35714rem 0.14286rem;
  padding: 0.5rem 0.71429rem;
  background: #e3e3e3;
}
.widget_tag_cloud li a:hover {
  background: #208200;
  color: #fff;
}

.widget {
  margin-bottom: 2.14286rem;
}
.widget .widget-title {
  text-transform: uppercase;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 1.42857rem;
  color: #36c100;
  font-size: 1.14286rem;
}

.widget_recent_comments ul,
.widget_product_categories ul,
.widget_rss ul,
.widget_recent_entries ul,
.widget_pages ul,
.widget_meta ul,
.widget_categories ul,
.widget_archive ul,
.widget_nav_menu ul {
  margin: 0;
  list-style: none;
}
.widget_recent_comments ul li,
.widget_product_categories ul li,
.widget_rss ul li,
.widget_recent_entries ul li,
.widget_pages ul li,
.widget_meta ul li,
.widget_categories ul li,
.widget_archive ul li,
.widget_nav_menu ul li {
  padding: 0.35714rem 0;
  display: block;
  position: relative;
}
.widget_recent_comments ul a,
.widget_product_categories ul a,
.widget_rss ul a,
.widget_recent_entries ul a,
.widget_pages ul a,
.widget_meta ul a,
.widget_categories ul a,
.widget_archive ul a,
.widget_nav_menu ul a {
  display: inline-block;
}
.widget_recent_comments ul ul,
.widget_product_categories ul ul,
.widget_rss ul ul,
.widget_recent_entries ul ul,
.widget_pages ul ul,
.widget_meta ul ul,
.widget_categories ul ul,
.widget_archive ul ul,
.widget_nav_menu ul ul {
  margin-left: 1.42857rem;
  display: none;
}

.menu-active > a > .control-menu-toggle-widget:after {
  content: "\f106";
  font-family: FontAwesome;
}

.control-menu-toggle-widget {
  cursor: pointer;
  font-style: normal;
  text-align: center;
  width: 20px;
}
.control-menu-toggle-widget:after {
  content: "\f107";
  font-family: FontAwesome;
}

#main .sidebar-content .widget {
  background: white url("../images/skin6.sidebar-bg-image.png") repeat center center;
  border: medium none;
  padding: 1.78571rem 1.42857rem 1.07143rem;
}
#main .sidebar-content .widget ul {
  margin: 0;
  font-size: 1.07143rem;
}
#main .sidebar-content .widget ul li {
  padding: 0;
}
#main .sidebar-content .widget ul li + li {
  border-top: 1px solid rgba(55, 58, 65, 0.1);
}
#main .sidebar-content .widget ul li > a {
  color: #252525;
  text-transform: uppercase;
  display: block;
  padding: 0.64286rem 1.42857rem 0.71429rem;
  position: relative;
}
#main .sidebar-content .widget ul li.active > a, #main .sidebar-content .widget ul li.menu-active > a, #main .sidebar-content .widget ul li:hover > a {
  color: #208200;
}
#main .sidebar-content .widget ul .sub-menu {
  background-color: rgba(37, 37, 37, 0.04);
  font-size: 0.85714rem;
  padding: 1.42857rem;
}
#main .sidebar-content .widget ul .sub-menu li > a {
  text-transform: none;
}
#main .sidebar-content .widget ul .sub-menu li > a:before {
  border: 1px solid;
  left: 0;
  border-radius: 50%;
  content: "\f105";
  display: inline-block;
  font-family: FontAwesome;
  height: 15px;
  line-height: 13px;
  margin-top: 2px;
  position: absolute;
  text-align: center;
  width: 15px;
}
#main .sidebar-content .widget .control-menu-toggle-widget {
  position: absolute;
  right: 0;
}

.widget-no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.widget-no-padding li {
  border: none !important;
  margin-left: 5px !important;
}

#top-bar {
  background: #7BCD40;
  color: #fff;
  font-size: 0.85714rem;
  padding: 0.78571rem 0;
}
#top-bar ul {
  margin-bottom: 0;
}
#top-bar .fa {
  display: inline;
}
#top-bar a {
  color: #fff;
}
#top-bar a:hover {
  color: #373a41;
}
#top-bar .large-4 ul {
  float: right;
}
#top-bar .widget-title {
  display: none;
}
#top-bar .widget {
  margin-bottom: 0;
}

#header {
  background-image: none, -moz-linear-gradient(bottom, rgba(255, 255, 255, 0.75) 0px, rgba(255, 255, 255, 0.8) 10px, rgba(255, 255, 255, 0.86) 20px, rgba(255, 255, 255, 0.9) 30px, rgba(255, 255, 255, 0.94) 40px, rgba(255, 255, 255, 0.98) 50px, rgba(255, 255, 255, 0.99) 60px, white 70px);
  background-image: none, -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, white));
  background-image: none, -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.75) 0px, rgba(255, 255, 255, 0.8) 10px, rgba(255, 255, 255, 0.86) 20px, rgba(255, 255, 255, 0.9) 30px, rgba(255, 255, 255, 0.94) 40px, rgba(255, 255, 255, 0.98) 50px, rgba(255, 255, 255, 0.99) 60px, white 70px);
  background-image: none, -o-linear-gradient(bottom, rgba(255, 255, 255, 0.75) 0px, rgba(255, 255, 255, 0.8) 10px, rgba(255, 255, 255, 0.86) 20px, rgba(255, 255, 255, 0.9) 30px, rgba(255, 255, 255, 0.94) 40px, rgba(255, 255, 255, 0.98) 50px, rgba(255, 255, 255, 0.99) 60px, white 70px);
  background-image: none, -ms-linear-gradient(bottom, rgba(255, 255, 255, 0.75) 0px, rgba(255, 255, 255, 0.8) 10px, rgba(255, 255, 255, 0.86) 20px, rgba(255, 255, 255, 0.9) 30px, rgba(255, 255, 255, 0.94) 40px, rgba(255, 255, 255, 0.98) 50px, rgba(255, 255, 255, 0.99) 60px, white 70px);
  background-image: none, linear-gradient(to top, rgba(255, 255, 255, 0.75) 0px, rgba(255, 255, 255, 0.8) 10px, rgba(255, 255, 255, 0.86) 20px, rgba(255, 255, 255, 0.9) 30px, rgba(255, 255, 255, 0.94) 40px, rgba(255, 255, 255, 0.98) 50px, rgba(255, 255, 255, 0.99) 60px, white 70px);
  background-color: transparent;
  background-repeat: repeat;
  background-position: center top;
  border-bottom: none;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(5, 38, 57, 0.05);
  -moz-box-shadow: 0px 1px 0px 0px rgba(5, 38, 57, 0.05);
  box-shadow: 0px 1px 0px 0px rgba(5, 38, 57, 0.05);
}
#header .site-logo {
  padding: 0.71429rem 2.85714rem 0.71429rem 0;
}
#header .site-logo img {
  max-height: 90px;
}
#header .header-wrapper {
  display: table;
  width: 100%;
  height: 120px;
  min-height: 120px;
}
#header .header-inner-inner,
#header .site-logo {
  display: table-cell;
  vertical-align: middle;
}
#header .header-inner-inner {
  color: #08aa00;
  text-align: right;
}
#header .widget-title {
  display: none;
}
#header .widget {
  margin-bottom: 0;
}

.mini-search {
  position: absolute;
  right: 15px;
}
.mini-search .search-submit,
.mini-search label {
  display: none;
}
.mini-search .search-form a {
  display: block;
  padding: 0.78571rem 0.35714rem 0.71429rem 0.71429rem;
}
.mini-search .search-field {
  background: white !important;
  border: medium none;
  border-radius: 3px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  font-style: italic;
  height: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0 20px;
  position: absolute;
  right: 0;
  top: 50px;
  width: 250px;
  z-index: 200;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease-out;
}
.mini-search .show-search .search-field {
  opacity: 1;
  visibility: visible;
}
.mini-search .show-search .fa:before {
  content: "\f00d";
}

.search-form a {
  display: none;
}

.navigation-holder {
  border-color: rgba(55, 58, 65, 0.1);
  border-style: solid;
  border-width: 1px 0 0px 0;
  display: table;
  width: 100%;
}
.navigation-holder ul {
  list-style: none;
  margin: 0;
  text-align: left;
  font-size: 1.14286rem;
  font-weight: bold;
}
.navigation-holder ul li {
  display: inline-block;
  margin: 0 0.35714rem;
}
.navigation-holder ul li:first-child {
  margin-left: 0;
}
.navigation-holder ul li:last-child {
  margin-right: 0;
}
.navigation-holder ul li a {
  display: inline-block;
  padding: 0.64286rem 1.28571rem 0.71429rem 0.78571rem;
}
.navigation-holder ul li.menu-item-has-children > a {
  position: relative;
}
.navigation-holder ul li.menu-item-has-children > a:after {
  content: "\f107";
  font-family: FontAwesome;
  font-size: 0.92857rem;
  font-weight: normal;
  padding-left: 3px;
  padding-top: 2px;
  position: absolute;
}
.navigation-holder ul ul.sub-menu {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.97);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  opacity: 0;
  border-radius: 3px;
  padding: 0.71429rem 0;
  position: absolute;
  top: 100%;
  visibility: hidden;
  width: 240px;
  z-index: 200;
  transition: all 300ms ease-out;
}
.navigation-holder ul ul.sub-menu li {
  display: block;
  margin: 0;
  font-size: 0.92857rem;
  font-weight: normal;
  padding: 0 0.71429rem;
  position: relative;
}
.navigation-holder ul ul.sub-menu li a {
  padding: 0.5rem 2.14286rem 0.5rem 0.71429rem;
  display: block;
}
.navigation-holder ul ul.sub-menu li.menu-item-has-children > a:after {
  padding-top: 0;
  right: 2px;
  content: "\f105";
}
.navigation-holder ul ul.sub-menu li ul {
  left: 100%;
  top: 0;
}
.navigation-holder ul li:hover > ul.sub-menu {
  opacity: 1;
  visibility: visible;
}
.navigation-holder ul.menu > li:hover > a {
  color: #2db500;
}
.navigation-holder ul.menu > li.active > a {
  background: #208200;
  color: #fff;
}
.navigation-holder ul.menu > li li a {
  color: #2db500;
}
.navigation-holder ul.menu > li li a:hover {
  color: #208200;
  background: rgba(32, 130, 0, 0.05);
}

.nav-mobile .menu-item-has-children > a:after {
  right: -3px;
  padding-top: 0;
  content: "\f105";
  position: absolute;
  font-family: FontAwesome;
}

.dl-menuwrapper li > a {
  border-bottom: 1px solid rgba(32, 130, 0, 0.1);
}

.dl-back {
  background: rgba(32, 130, 0, 0.05);
}

#main {
  padding: 2.14286rem 0;
}

#section-breadcumn {
  background: rgba(55, 58, 65, 0.1);
  text-align: center;
  padding: 2.14286rem 0 1.78571rem;
  border-bottom: 1px solid rgba(55, 58, 65, 0.1);
}
#section-breadcumn h1 {
  margin: 0 0 0.71429rem;
  line-height: normal;
}
#section-breadcumn .breadcrumbs {
  margin: 0 0 0.71429rem;
  padding: 0;
  background: none;
  border: none;
}
#section-breadcumn .breadcrumbs > * {
  font-size: 0.85714rem;
  text-transform: none;
  color: #252525;
}
#section-breadcumn .breadcrumbs > *:before {
  display: none;
}
#section-breadcumn .breadcrumbs > * a {
  color: inherit;
}
#section-breadcumn .breadcrumbs span {
  float: none;
}
#section-breadcumn .breadcrumbs .fa {
  border: 1px solid;
  border-radius: 50%;
  color: #208200;
  height: 14px;
  line-height: 11px;
  margin: 0 10px;
  width: 14px;
}

.custom-content-menu-left ul {
  margin: 0;
  list-style: none;
}
.custom-content-menu-left ul a {
  padding: 0.64286rem 1.42857rem 0.71429rem 0;
  display: block;
  text-decoration: underline;
}
.custom-content-menu-left ul a:before {
  border: 1px solid;
  border-radius: 50%;
  content: "\f105";
  display: inline-block;
  font-family: FontAwesome;
  height: 15px;
  left: 0;
  line-height: 13px;
  margin-top: 2px;
  text-align: center;
  width: 15px;
  margin-right: 15px;
  font-size: 0.78571rem;
}
.custom-content-menu-left ul a:hover {
  text-decoration: none;
}
.custom-content-menu-left ul li + li {
  border-top: 1px solid rgba(55, 58, 65, 0.1);
}

.column-content,
.sidebar-content {
  margin-top: 0.71429rem;
}

#tabs {
  border: 1px solid rgba(55, 58, 65, 0.1);
}
#tabs .resp-tabs-list li {
  padding: 0.64286rem 1.07143rem 0.64286rem 0;
  font-size: 1.07143rem;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}
#tabs .resp-tabs-list li + li:before {
  border-left: 1px solid rgba(55, 58, 65, 0.1);
  content: "";
  padding-left: 1.07143rem;
}
#tabs .resp-tabs-list li:first-child {
  padding-left: 1.07143rem;
}
#tabs .resp-tabs-list li.resp-tab-active {
  color: #208200;
}
#tabs .resp-tabs-list li:last-child {
  border: none;
}
#tabs .resp-tabs-container {
  background: none;
  border-top: 1px solid rgba(55, 58, 65, 0.1);
}
#tabs .resp-tab-content {
  padding: 1.42857rem;
  border: none;
  background: none;
}

.wpcf7-form .wpcf7-form-control {
  margin-bottom: 0;
  border: none;
  box-shadow: none;
}
.wpcf7-form .form-action {
  margin-top: 1.42857rem;
}
.wpcf7-form .form-field {
  position: relative;
}
.wpcf7-form .form-field .wpcf7-form-control {
  border-color: #e0e0e0;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  margin-top: -1px;
}
.wpcf7-form .form-field:before {
  font-family: FontAwesome;
  color: #7a7a7a;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 10px;
  width: 20px;
  z-index: 2;
}
.wpcf7-form .form-field.field-name .wpcf7-form-control {
  border-top-width: 1px;
  border-radius: 4px 4px 0 0;
  overflow: hidden;
}
.wpcf7-form .form-field.field-phone .wpcf7-form-control {
  border-radius: 0 0 4px 4px;
  overflow: hidden;
}
.wpcf7-form .form-field.field-message .wpcf7-form-control {
  margin-top: 1.42857rem;
  border-radius: 4px;
  border-top-width: 1px;
  overflow: hidden;
}
.wpcf7-form .field-name:before {
  content: "\f007";
}
.wpcf7-form .field-email:before {
  content: "\f0e0";
}
.wpcf7-form .field-phone:before {
  content: "\f095";
}
.wpcf7-form .wpcf7-submit {
  background: #208200;
  color: #fff;
  border-bottom: 2px solid #000;
  border-radius: 6px;
  padding: 10px 20px;
}
.wpcf7-form .reset {
  float: right;
  padding: 0;
  background: none;
  color: #208200;
  text-decoration: underline;
  font-size: 0.85714rem;
}
.wpcf7-form .reset:after {
  content: "\f05c";
  font-family: FontAwesome;
  padding-left: 10px;
  text-decoration: none;
}
.wpcf7-form .wpcf7-form-control-wrap {
  position: static;
}
.wpcf7-form .wpcf7-not-valid-tip {
  white-space: pre;
}

.home-slider {
  position: relative;
  z-index: -1;
  top: -50px;
}
.home-slider .rev_slider_wrapper:before, .home-slider .rev_slider_wrapper:after {
  content: " ";
  display: table;
}
.home-slider .rev_slider_wrapper:after {
  clear: both;
}

#footer {
  background: #ffffff none repeat scroll center top;
  border-top: 1px solid rgba(55, 58, 65, 0.1);
  color: #7a7171;
  font-size: 0.92857rem;
  padding: 3.57143rem 0 1.42857rem;
}
#footer .widget {
  margin-bottom: 1.42857rem;
}
#footer .social-icon {
  margin-left: -5px;
}
#footer .social-icon ul {
  margin-left: 5px;
}
#footer .social-icon li {
  text-align: center;
  line-height: 25px;
  margin-left: 5px;
}
#footer .social-icon a {
  height: 27px;
  width: 27px;
  border-radius: 50%;
  border: 1px solid;
}

#bottom-bar {
  background: rgba(35, 35, 35, 0.55) none repeat scroll center top;
  border-top: 1px solid rgba(218, 222, 225, 0.85);
  color: #ffffff;
  font-size: 0.85714rem;
  padding: 1.42857rem 0;
}
#bottom-bar .columns:last-child {
  text-align: right;
}
#bottom-bar .widget-title {
  display: none;
}
#bottom-bar .widget {
  margin-bottom: 0;
}

.project-gird .project-inner {
  border: 1px solid #bfbfbf;
  text-align: center;
  background: #fff;
  padding: 5px;
}
.project-gird .project-inner h3 {
  font-size: 1rem;
  font-weight: bold;
  color: #208200;
  margin: 0 0 0.71429rem;
  text-transform: uppercase;
}
.project-gird .project-inner .project-image {
  margin-bottom: 0.71429rem;
}
.project-gird .project-inner .project-meta p {
  margin-bottom: 0;
}

.blog-content {
  margin-bottom: 2.14286rem;
  padding-bottom: 2.14286rem;
  border-bottom: 1px solid rgba(55, 58, 65, 0.1);
}
.blog-content p {
  margin-bottom: 0.71429rem;
}
.blog-content .entry-title {
  margin-top: 0;
}
.blog-content .entry-title a {
  color: #252525;
}
.blog-content .entry-title a:hover {
  color: #208200;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #top-bar {
    text-align: center;
  }
  #top-bar ul {
    float: none;
    margin: 0.35714rem 0;
  }
  #top-bar ul > li {
    float: none;
    display: inline-block;
    margin: 0 0.35714rem;
  }
  #top-bar .large-4 ul {
    float: none;
  }

  #main .sidebar-content .widget {
    padding: 1.07143rem 0.71429rem;
  }

  #main .sidebar-content .widget ul li > a {
    padding-left: 15px;
    padding-right: 15px;
  }

  #main .sidebar-content .widget ul .sub-menu {
    padding: 5px;
  }
}
@media (max-width: 767px) {
  #top-bar {
    text-align: center;
    padding-bottom: 0;
  }
  #top-bar ul {
    float: none;
    margin: 0.35714rem 0;
  }
  #top-bar ul > li {
    float: none;
    display: inline-block;
    margin: 0 0.35714rem;
  }
  #top-bar .large-4 ul {
    float: none;
  }
  #top-bar > span {
    font-size: 1.42857rem;
    cursor: pointer;
  }

  .hide-action > span .fa:before {
    content: "\f107";
  }

  #header .site-logo {
    padding-right: 0;
  }

  #header .header-inner-inner, #header .site-logo {
    display: block;
    text-align: center;
  }

  .navigation-holder {
    border: none;
  }
}
#mobile-menu {
  padding: 0.71429rem 1.07143rem;
  background: #208200;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
}
#mobile-menu span:before {
  font-family: FontAwesome;
  padding-right: 10px;
}
#mobile-menu .menu-open {
  display: inline-block;
}
#mobile-menu .menu-open:before {
  content: "\f0c9";
}
#mobile-menu .menu-back,
#mobile-menu .menu-close {
  display: none;
}
#mobile-menu.dl-active .menu-close {
  display: inline-block;
}
#mobile-menu.dl-active .menu-close:before {
  content: "\f00d";
}
#mobile-menu.dl-active .menu-open {
  display: none;
}

#dl-menu {
  text-align: center;
}

.nav-mobile {
  width: 280px;
  margin: 0 auto;
  padding: 10px 0;
}
.nav-mobile:before, .nav-mobile:after {
  content: " ";
  display: table;
}
.nav-mobile:after {
  clear: both;
}

.dl-menu {
  text-align: left;
}

.dl-container {
  position: relative;
}

.logo-center .dl-container,
.logo-classic .dl-container,
.logo-classic-centered .dl-container {
  width: 100%;
  min-width: 230px;
  max-width: 280px;
  margin: 0 auto;
}

.logo-center .dl-container {
  top: -10px;
}

.dl-menuwrapper {
  position: relative;
  z-index: 999;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  -webkit-perspective-origin: 50% 200%;
  -moz-perspective-origin: 50% 200%;
  perspective-origin: 50% 200%;
}

.dl-menuwrapper ul {
  right: 0;
  width: 100%;
  min-width: 230px;
  max-width: 280px;
  list-style: none;
  text-align: left;
  margin-left: 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.dl-container > ul {
  padding: 5px 0;
  background: rgba(255, 255, 255, 0.97);
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
}

.dl-menuwrapper li {
  position: relative;
}

.dl-menuwrapper li a {
  display: block;
  position: relative;
  padding: 10px 0;
  margin: 0 20px;
  font-weight: normal;
  text-align: left;
  text-decoration: none;
  outline: none;
}

.dl-menuwrapper li a > span {
  display: table-cell;
}

.dl-menuwrapper li.dl-back a > span {
  display: inline-block;
}

.dl-menuwrapper li:last-child > a,
.dl-menuwrapper li.dl-back > a {
  border: none !important;
}

.dl-menuwrapper li.dl-back > a {
  margin: -5px 0 0 0;
  text-align: center;
}

.dl-menuwrapper li.has-children > a:after {
  display: block;
  position: absolute;
  right: -5px;
  top: 50%;
  width: 6px;
  height: 9px;
  margin-top: -4.5px;
  content: "";
  background-position: 0 0;
  background-repeat: no-repeat;
}

.dl-menuwrapper li.dl-back span {
  position: relative;
}

.dl-menuwrapper li.dl-back span:before {
  display: block;
  position: absolute;
  left: -16px;
  top: 50%;
  width: 10px;
  height: 7px;
  margin-top: -2.5px;
  content: "";
}

.dl-menuwrapper .dl-menu {
  position: absolute;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.windows-phone .dl-menuwrapper .dl-menu {
  visibility: hidden;
}

.dl-menuwrapper .dl-menu.dl-menu-toggle {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.dl-menuwrapper .dl-menu.dl-menuopen {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

.windows-phone .dl-menuwrapper .dl-menu.dl-menuopen {
  visibility: visible;
}

/* Hide the inner submenus */
.dl-menuwrapper li .dl-submenu {
  display: none;
}

/*
When a submenu is openend, we will hide all li siblings.
For that we give a class to the parent menu called "dl-subview".
We also hide the submenu link.
The opened submenu will get the class "dl-subviewopen".
All this is done for any sub-level being entered.
*/
.dl-menu.dl-subview li,
.dl-menu.dl-subview li.dl-subviewopen > a,
.dl-menu.dl-subview li.dl-subview > a {
  display: none;
}

.dl-menu.dl-subview li.dl-subview,
.dl-menu.dl-subview li.dl-subview .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu > li {
  display: block;
}

/* Dynamically added submenu outside of the menu context */
.dl-container > .dl-submenu {
  position: absolute;
  width: 100%;
  right: 0;
  margin: 0;
}

/* Animation classes for moving out and in */
.dl-menu.dl-animate-out-2 {
  -webkit-animation: MenuAnimOut2 0.3s ease-in-out;
  -moz-animation: MenuAnimOut2 0.3s ease-in-out;
  animation: MenuAnimOut2 0.3s ease-in-out;
}

@-webkit-keyframes MenuAnimOut2 {
  100% {
    -webkit-transform: translateX(-100%);
    opacity: 0;
  }
}
@-moz-keyframes MenuAnimOut2 {
  100% {
    -moz-transform: translateX(-100%);
    opacity: 0;
  }
}
@keyframes MenuAnimOut2 {
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}
.dl-menu.dl-animate-in-2 {
  -webkit-animation: MenuAnimIn2 0.3s ease-in-out;
  -moz-animation: MenuAnimIn2 0.3s ease-in-out;
  animation: MenuAnimIn2 0.3s ease-in-out;
}

@-webkit-keyframes MenuAnimIn2 {
  0% {
    -webkit-transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0px);
    opacity: 1;
  }
}
@-moz-keyframes MenuAnimIn2 {
  0% {
    -moz-transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    -moz-transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes MenuAnimIn2 {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.dl-container > .dl-submenu.dl-animate-in-2 {
  -webkit-animation: SubMenuAnimIn2 0.3s ease-in-out;
  -moz-animation: SubMenuAnimIn2 0.3s ease-in-out;
  animation: SubMenuAnimIn2 0.3s ease-in-out;
}

@-webkit-keyframes SubMenuAnimIn2 {
  0% {
    -webkit-transform: translateX(100%);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0px);
    opacity: 1;
  }
}
@-moz-keyframes SubMenuAnimIn2 {
  0% {
    -moz-transform: translateX(100%);
    opacity: 0;
  }

  100% {
    -moz-transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes SubMenuAnimIn2 {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.dl-container > .dl-submenu.dl-animate-out-2 {
  -webkit-animation: SubMenuAnimOut2 0.3s ease-in-out;
  -moz-animation: SubMenuAnimOut2 0.3s ease-in-out;
  animation: SubMenuAnimOut2 0.3s ease-in-out;
}

@-webkit-keyframes SubMenuAnimOut2 {
  0% {
    -webkit-transform: translateX(0%);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(100%);
    opacity: 0;
  }
}
@-moz-keyframes SubMenuAnimOut2 {
  0% {
    -moz-transform: translateX(0%);
    opacity: 1;
  }

  100% {
    -moz-transform: translateX(100%);
    opacity: 0;
  }
}
@keyframes SubMenuAnimOut2 {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }

  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}
/* No JS Fallback */
.no-js .dl-menuwrapper .dl-menu {
  position: relative;
  opacity: 1;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}

.no-js .dl-menuwrapper li .dl-submenu {
  display: block;
}

.no-js .dl-menuwrapper li.dl-back {
  display: none;
}

.no-js .dl-menuwrapper li > a:not(:only-child) {
  background: rgba(0, 0, 0, 0.1);
}

.no-js .dl-menuwrapper li > a:not(:only-child):after {
  content: '';
}
